*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	
}


.logo{
	width: 10%;
	height: 10%;
}
.card-img-top{
	width: 100%;
	height: 200px;
	object-fit: contain;
}
.admin_image{
	width: 100px;
	object-fit: contain;
}
.cart_img{
	width: 50px;
	height: 50px;
}

/* Make the whole page use full height */
html, body {
  height: 100%;
  margin: 0;
}

/* Let the wrapper fill the page and push footer down */
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* Allow main content to grow */
.content {
  flex: 1;
}

/* Style your footer normally */
.footer {
  background-color: #ff9900; /* your orange color */
  text-align: center;
  padding: 10px;
  color: #fff;
}